* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

input, textarea {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

body { 
    font-family: var(--font-main);
    overscroll-behavior: none; 
    touch-action: none; 
    background-color: var(--color-bg-main);
}

.font-mono {
    font-family: var(--font-roboto-mono);
}

::-webkit-scrollbar {
    width: var(--size-scrollbar);
    height: var(--size-scrollbar);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: var(--radius-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover);
}
