.app-body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
    height: var(--h-screen);
    display: flex;
    flex-direction: column;
    margin: 0;
}

.app-body ::selection {
    background-color: var(--color-selection);
}

#space-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--pos-full);
    height: var(--pos-full);
    background-image: 
        linear-gradient(var(--color-bg-grid) var(--space-px), transparent var(--space-px)),
        linear-gradient(90deg, var(--color-bg-grid) var(--space-px), transparent var(--space-px));
    background-size: var(--space-10) var(--space-10);
    position: relative;
    overflow: hidden;
}
